---
include:
  - project: 'core/ci-config'
    ref: master
    file: 'config/common/master.yml'

before_script:
  - . /duneci/bin/duneci-init-job
  - duneci-install-module https://gitlab.dune-project.org/core/dune-common.git
  - duneci-install-module https://gitlab.dune-project.org/core/dune-geometry.git

.common: &common
  script:
    - duneci-standard-test
    # test dune-grid as well
    - export DUNE_CONTROL_PATH=$(pwd):/duneci/modules:$DUNE_CONTROL_PATH
    - duneci-install-module https://gitlab.dune-project.org/core/dune-grid.git
    - cd /duneci/modules/dune-grid && duneci-standard-test
  tags: [duneci]
  artifacts:
    expire_in: 2 years
    reports:
      junit: junit/*.xml

debian:11 gcc-9-20:
  <<: *common
  image: registry.dune-project.org/docker/ci/debian:11
  allow_failure: true
  variables:
    DUNECI_TOOLCHAIN: gcc-9-20

debian:10 gcc-8-noassert-17:
  <<: *common
  image: registry.dune-project.org/docker/ci/debian:10
  variables:
    DUNECI_TOOLCHAIN: gcc-8-noassert-17

debian:10 clang-7-libcpp-17:
  <<: *common
  image: registry.dune-project.org/docker/ci/debian:10
  variables:
    DUNECI_TOOLCHAIN: clang-7-libcpp-17

ubuntu:18.04 clang-6-17:
  <<: *common
  image: registry.dune-project.org/docker/ci/ubuntu:18.04
  variables:
    DUNECI_TOOLCHAIN: clang-6-17

# specific job for testing sequential library version
debian:10 gcc-8-17 sequential:
  <<: *common
  image: registry.dune-project.org/docker/ci/debian:10
  variables:
    DUNECI_TOOLCHAIN: gcc-8-17
    DUNECI_CMAKE_FLAGS: "-DUG_ENABLE_PARALLEL=0"

# specific job for testing the debug version
debian:10 gcc-8-17 debug:
  <<: *common
  image: registry.dune-project.org/docker/ci/debian:10
  variables:
    DUNECI_TOOLCHAIN: gcc-8-17
    DUNECI_CMAKE_FLAGS: "-DUG_ENABLE_DEBUGGING:BOOL=1"

# Check for spelling mistakes in text
code-spelling-check:
  stage: .pre
  # Avoid the global 'before_script'
  before_script: ""
  image: registry.dune-project.org/docker/ci/debian:11
  script:
  - codespell
